<ion-view title="After Register" id="N0page">
    <ion-nav-bar class="bar bar-clear"></ion-nav-bar>
     <ion-nav-buttons side="left">
    <button ui-sref="login" class="button back-button buttons button-clear header-item" >
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header container">
       <div class="card">
            <div class="item item-divider">
                   Thank you for getting in touch!
            </div>
            <div class="item item-text-wrap">
                <p>One of our customer services members will be getting back to you shortly.</p>

                <p>You can check your email to see what are the next steps.</p>

                <p>Have a great day!</p>
               
            </div>

        </div>
    </ion-content>