<ion-view title="Change Password" id="changepassword" hide-nav-bar="false">
      <ion-nav-bar class="bar bar-clear"></ion-nav-bar>

    <ion-nav-buttons side="left">
    <button ui-sref="profile" class="button back-button buttons button-clear header-item" ng-click="goBackview()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        
        <div id="login-logo"></div>
        <form class="list" id="changepasswordform" name="changepasswordform" novalidate>
            <ion-list>
                <label class="item item-input current-password-input">
                    <span class="input-label">Current Password</span>
                    <input type="password" placeholder="" name="currentpassword" ng-model="userdata.currentpassword" required>
                </label>
                
                
                <label class="item item-input new-password-input">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="" name="newpassword" ng-model="userdata.newpassword" required>
                </label>


                <label class="item item-input new-password-confirm-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="" name="confirmpassword" ng-model="userdata.confirmpassword" required>
                </label>
                

            </ion-list>
            <div class="spacer" style="height: 25px;"></div>
            <button  id="submit-pssword-button"  class="button button-positive  button-block general-btn-bg-style general-btn-font-color" ng-disabled="changepasswordform.$invalid" ng-click="changePassword(userdata)" >Submit</button>
            <div id="oldpassworderrorsdialog" title="Error"></div>
        </form>
    </ion-content>
</ion-view>