<ion-view title="Forgot Password?" id="forgetpasswordrequest" hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        
        <div id="login-logo"></div>
        <form class="list" id="forgetpasswordrequestform" name="forgetpasswordrequestform" novalidate>
            <ion-list>
                <label class="item item-input mobile-input">
                    <span class="input-label">Mobile Number</span>
                    <input type="tel" placeholder="" name="mobile" ng-model="userdata.mobile" required>
                </label>

            </ion-list>
            <div class="spacer" style="height: 25px;"></div>
            <button  id="send-code-button"  class="button button-positive  button-block general-btn-bg-style general-btn-font-color" ng-disabled="forgetpasswordrequestform.$invalid" ng-click="sendCode(userdata)" >Send Code</button>
            <div id="mobileerrorsdialog" title="Error"></div>
        </form>
    </ion-content>
</ion-view>