<ion-view title="New Password" id="newpassword" hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        
        <div id="login-logo"></div>
        <form class="list" id="newpasswordform" name="newpasswordform" novalidate>
            <ion-list>
                <label class="item item-input code-input">
                    <span class="input-label">Code</span>
                    <input type="tel" placeholder="" name="code" ng-model="userdata.code" required>
                </label>

                <label class="item item-input password-input">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="" name="password" ng-model="userdata.password" required>
                </label>
                
            </ion-list>
            <div class="spacer" style="height: 25px;"></div>
            <button  id="new-password-button"  class="button button-positive  button-block general-btn-bg-style general-btn-font-color" ng-disabled="newpasswordform.$invalid" ng-click="newPassword(userdata)" >Submit</button>
            <div id="codeerrorsdialog" title="Error"></div>
        </form>
    </ion-content>
</ion-view>